<!-- $Id: TablaPlantillaInternacional.html,v 1.14.54.1 2014/10/29 17:10:11 mejiar Exp $ -->
<tr class="normal" valign="top">
    <td class="title" align="right">Clave Plantilla:</td>
    <td>
    <span jwcid="@contrib:Choose">
        <span jwcid="@contrib:When" condition="ognl: !modoCaptura">
            <input class="uppercase" jwcid="@ixe:UppercaseTextField" value="ognl: plantilla.clavePlantilla" maxlength="4" size="4" />
        </span>
        <span jwcid="@contrib:Otherwise">
            <span jwcid="@DisabledField" value="ognl: plantilla.clavePlantilla" />
        </span>
    </span>
    </td>
    <td class="title" align="right" nowrap>Cta. Beneficiario:</td>
    <td colspan="5">
        <span jwcid="@contrib:Choose">
            <span jwcid="@contrib:When" condition="ognl: !modoCaptura">
                <input jwcid="noCuentaBeneficiarioTextField" />
            </span>
            <span jwcid="@contrib:Otherwise">
                <span jwcid="@DisabledField" value="ognl: plantilla.noCuentaBeneficiario" />
            </span>
        </span>
    </td>
    <td class="title" align="right">Divisa:</td>
    <td><span jwcid="@DisabledField" value='ognl: plantilla.divisa ? plantilla.divisa.idDivisa : ""' /></td>
</tr>
<span jwcid="@RenderBody" />
<tr class="normal" valign="top">
    <td class="title" align="right">Nombre Beneficiario:</td>
    <td colspan="9">
    <span jwcid="@contrib:Choose">
        <span jwcid="@contrib:When" condition="ognl: !modoCaptura">
            <select jwcid="beneficiarioComboBox" />
        </span>
        <span jwcid="@contrib:Otherwise">
            <span jwcid="@DisabledField" value="ognl: plantilla.beneficiario.nombreCorto" />
        </span>
    </span>
    </td>
</tr>
<span jwcid="@contrib:FormConditional" condition="ognl: !modoCaptura">
    <tr class="normal" valign="top">
        <td class="title" align="right">Tipo Transferencia:</td>
        <td colspan="9">
            <select jwcid="intermediarioComboBox" />
        </td>
    </tr>
</span>
<span jwcid="@contrib:FormConditional" condition="ognl: conIntermediario">
    <tr class="normal" valign="top">
        <td class="title" align="right">Sist. de pago Interm.:</td>
        <td>
            <span jwcid="@contrib:FormConditional" condition="ognl: !modoCaptura">
                <select jwcid="tiposCuentaBancoIntermComboBox" />
            </span>
            <span jwcid="@Conditional" condition="ognl: modoCaptura">
                <span jwcid="@DisabledField" value="ognl: plantilla.tipoCuentaBancoInterm" />
            </span>
        </td>
        <td class="title" align="right">Cve. Bco. Interm:</td>
        <td>
            <table border="0" cellpadding="0" cellspacing="2">
                <tr>
                    <td>
                        <span jwcid="@contrib:FormConditional" condition='ognl: !modoCaptura && !"DD".equals(plantilla.tipoCuentaBancoInterm)'>
                            <input jwcid="claveBancoIntermTextField" />
                        </span>
                        <span jwcid="@Conditional" condition='ognl: !(!modoCaptura && !"DD".equals(plantilla.tipoCuentaBancoInterm))'>
                            <span jwcid="@DisabledField" value="ognl: plantilla.claveBancoInterm" />
                        </span>
                    </td>
                    <td>
                        <span jwcid="@contrib:FormConditional" condition='ognl: !modoCaptura && !"DD".equals(plantilla.tipoCuentaBancoInterm)'>
                            <input type="image" src="../../images/encontrar.gif" jwcid="@ImageSubmit" alt="Encontrar Datos Banco" image="ognl: assets.bEncontrar" onclick="if (this.form.claveBancoIntermTextField.value.length != 0) { this.form.modoSubmitHidden.value='SclaveBancoInterm'; return fnDisableForm(this.form);}else{alert('Por favor ingrese la clave del banco intermediario.'); return false;}" />
                        </span>
                    </td>
                </tr>
            </table>
        </td>
        <td colspan="4"><span jwcid="@DisabledField" value='ognl: plantilla.nombreBancoInterm != null ? (plantilla.nombreBancoInterm + " (Plaza: " + plazaBanco(plantilla, true) + ")")  : ""'/></td>
        <td class="title" align="right" nowrap>Pa&iacute;s:</td><td><span jwcid="@DisabledField" value='ognl: plantilla.idPaisInterm != null ? page.getPaisXClaveISO(page.visit.ticket, plantilla.idPaisInterm).nombrePais : ""'/></td>
    </tr>
</span>
<tr class="normal" valign="top">
    <td class="title" align="right" nowrap>Sist. de pago Benef.:</td>
    <td>
        <span jwcid="@contrib:FormConditional" condition='ognl: !modoCaptura && !"ALRA".equals(plantilla.tipoCuentaBanco)'>
            <select jwcid="tiposCuentaBancoComboBox" />
        </span>
        <span jwcid="@Conditional" condition='ognl: modoCaptura ||  "ALRA".equals(plantilla.tipoCuentaBanco)'>
            <span jwcid="@DisabledField" value="ognl: plantilla.tipoCuentaBanco" />
        </span>
    </td>
    <span jwcid="@contrib:FormConditional" condition="ognl: !plantilla.tipoCuentaBancoDD">
        <td class="title" align="right" nowrap>Cve. Bco. Beneficiario:</td>
        <td>
            <table border="0" cellpadding="0" cellspacing="2">
                <tr>
                    <td>
                        <span jwcid="@contrib:FormConditional" condition='ognl: !modoCaptura && !plantilla.tipoCuentaBancoDD && !"ALRA".equals(plantilla.tipoCuentaBanco)'>
                            <input jwcid="claveBancoTextField" />
                        </span>
                        <span jwcid="@Conditional" condition='ognl: !(!modoCaptura && !plantilla.tipoCuentaBancoDD && !"ALRA".equals(plantilla.tipoCuentaBanco))'>
                            <span jwcid="@DisabledField" value="ognl: plantilla.claveBanco" />
                        </span>
                    </td>
                    <td>
                        <span jwcid="@contrib:FormConditional" condition='ognl: !modoCaptura && !plantilla.tipoCuentaBancoDD && !"ALRA".equals(plantilla.tipoCuentaBanco)'>
                            <input type="image" src="../../images/encontrar.gif" jwcid="@ImageSubmit" alt="Encontrar Datos Banco" image="ognl: assets.bEncontrar" onclick="if (this.form.claveBancoTextField.value.length != 0) { this.form.modoSubmitHidden.value='SclaveBanco'; return fnDisableForm(this.form); } else { alert('Por favor ingrese la clave del banco beneficiario.'); return false;}" />
                        </span>
                    </td>
                </tr>
            </table>
        </td>
        <td colspan="4">
                <span jwcid="@DisabledField" value='ognl: (!isEmptyNombreBanco(plantilla)) ? (plantilla.nombreBanco + " (Plaza: " + plazaBanco(plantilla, false) + ")") : ""' /></td>
        <td class="title" align="right" nowrap>Pa&iacute;s:</td>
        <td><span jwcid="@DisabledField" value='ognl: plantilla.idPais != null ? page.getPaisXClaveISO(page.visit.ticket, plantilla.idPais).nombrePais : ""' /></td>
    </span>
</tr>

<span jwcid="@contrib:FormConditional" condition='ognl: conIntermediario && plantilla.tipoCuentaBancoDD'>
	<tr>
		<td class="title" align="right" nowrap><img jwcid="@Any" src="images/instrucciones.gif" alt="Cuenta que el Banco Beneficiario mantiene con el Banco Intermediario" />Cta. Banco Beneficiario:</td>
		<td>
	        <span jwcid="@contrib:Choose">
	        	<span jwcid="@contrib:When" condition="ognl: !modoCaptura">
	            	<input class="uppercase" jwcid="@ixe:UppercaseTextField" maxLength="34" size="34" value="ognl: plantilla.cuentaBancoInterm" />
	        	</span>
	            <span jwcid="@contrib:Otherwise">
	            	<span jwcid="@DisabledField" value='ognl: plantilla.cuentaBancoInterm' />
				</span>
	        </span>
		</td>
		
    	<span jwcid="@contrib:Choose">
        	<span jwcid="@contrib:When" condition="ognl: !modoCaptura">
                <span jwcid="@contrib:FormConditional" condition="ognl: plantilla.tipoCuentaBancoDD">
                	<td class="title" align="right" nowrap>
	                	<span class="title">Banco Beneficiario:</span>
    	            </td>
        	        <td colspan="4">
            	    	<span jwcid="@Conditional" condition="ognl: !plantilla.tipoCuentaBancoDD">
                	    	<span jwcid="@Insert" value="ognl: plantilla.nombreBancoInterm" />
                    	</span>
	                	<span jwcid="@contrib:FormConditional" condition="ognl: plantilla.tipoCuentaBancoDD">
    	            		<input class="uppercase" jwcid="@ixe:UppercaseTextField" maxLength="80" size="60" value="ognl: plantilla.nombreBanco" />
        	        	</span>
					</td>
                </span>
            </span>
            <span jwcid="@contrib:Otherwise">
                <span jwcid="@contrib:FormConditional" condition='ognl: plantilla.tipoCuentaBancoDD'>
            		<td>
            			<span class="title">Banco Beneficiario:</span>
	                </td>
		            <td>
        	        	<span jwcid="@DisabledField" value='ognl: plantilla.nombreBanco' />
            	    </td>
                </span>
        	</span>
    	</span>
	</tr>
</span>