<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	<appender name="LOGFEEDFILE" class="org.apache.log4j.RollingFileAppender">
				<param name="File" value="./logs/SicaOmmConsumerFeed.log"/>
				<param name="Append" value="true"/>
				<param name="MaxFileSize" value="10000KB"/> 
				<param name="MaxBackupIndex" value="5"/> 
				<layout class="org.apache.log4j.PatternLayout">
					<param name="ConversionPattern" value="%d %-5p %c %x(%L) - %m %n"/>
				</layout> 
	</appender>
	
	<appender name="LOGPROCESSFILE" class="org.apache.log4j.RollingFileAppender">
				<param name="File" value="./logs/SicaOmmConsumerProcess.log"/>
				<param name="Append" value="true"/>
				<param name="MaxFileSize" value="10000KB"/> 
				<param name="MaxBackupIndex" value="5"/> 
				<layout class="org.apache.log4j.PatternLayout">
					<param name="ConversionPattern" value="%d %-5p %c %x(%L) - %m %n"/>
				</layout> 
	</appender>
	
	<appender name="LOGSPRINGFILE" class="org.apache.log4j.RollingFileAppender">
				<param name="File" value="./logs/SicaOmmConsumerSpring.log"/>
				<param name="Append" value="true"/>
				<param name="MaxFileSize" value="10000KB"/> 
				<param name="MaxBackupIndex" value="5"/> 
				<layout class="org.apache.log4j.PatternLayout">
					<param name="ConversionPattern" value="%d %-5p %c %x(%L) - %m %n"/>
				</layout> 
	</appender>

	<!-- Append messages to the console -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">	
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c %x(%L) - %m %n"/> 
		</layout> 
	</appender>

	<!-- 	RULES for logging DEBUG < INFO < WARN < ERROR < FATAL. 	-->
	
	<logger name="com.ixe.ods.sica.rmds.feed" > 
		<level value="INFO"/> 
		<appender-ref ref="LOGFEEDFILE"/> 
		 <appender-ref ref="CONSOLE"/>
	</logger>
	
	<logger name="com.ixe.ods.sica.rmds.process" > 
		<level value="INFO"/> 
		<appender-ref ref="LOGPROCESSFILE"/> 
		<!-- <appender-ref ref="CONSOLE"/> -->
	</logger>
	
	<logger name="org.springframework" > 
		<level value="INFO"/> 
		<appender-ref ref="LOGSPRINGFILE"/> 
		<!-- <appender-ref ref="CONSOLE"/>--> 		
	</logger>
	
</log4j:configuration>
