<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>IXE</title>
    <link rel="stylesheet" type="text/css" href="http://www.ixe.com.mx/portalimages/styles01001.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <style type="text/css">
      <!--
	    @import url("http://www.ixe.com.mx/portalimages/styles01001.css");
	    body {
	    }
      -->
    </style>
  </head>
  <body> 
    <table width="788" border="0" align="center" cellpadding="0" cellspacing="0">
	  <tr>
		<td bgcolor="#FFFFFF" class="tblNL-003">
		  <table width="788" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
			<tr>
			  <td>
				<img src="http://www.banorte-ixe.com.mx/img/header.jpg" width="788" height="60">
			  </td>
			</tr>
		  </table>
		</td>
	  </tr>
	</table>
	<table width="788" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr> 
		<td bgcolor="#FFFFFF" class="tblNL-003">
		  <table width="780" border="0" cellpadding="0" cellspacing="0">
		    <tr> 
			  <td width="610" valign="top">
			    <table border="0" cellspacing="0" cellpadding="10">
				  <tr>
				    <td valign="top" class="txtNL-006"><br>
					  <strong>
						GENERACI&Oacute;N Y ENV&Iacute;O DE MOVIMIENTOS CONTABLES A DETALLE.
					  </strong>
					  <p>
				        &nbsp;
			          </p>
					  #foreach( $lote in $lotes )
					    <table width="500" border="0" align="left" cellpadding="4" cellspacing="0">
						  <tr>
							<td bgcolor="#82B4AB" class="txtNL-009" width="250">
							  <span class="txtNL-001">
								<strong>
								  N&uacute;mero de lote
								</strong>
							  </span>
							</td>
							<td width="250" bgcolor="#C5DBD8" class="txtNL-009">
							  $lote.idLote
							</td>
						  </tr>
						  <tr>
							<td height="2" colspan="2">
							</td>
						  </tr>
						  <tr>
							<td bgcolor="#82B4AB" class="txtNL-009" width="250">
							  <span class="txtNL-001">
								<strong>
									Registros procesados
								</strong>
							  </span>
							</td>
							<td width="250" bgcolor="#C5DBD8" class="txtNL-009">
								$lote.registros
							</td>
						  </tr>
						  <tr>
							<td height="2" colspan="2">
							</td>
						  </tr>
						  <tr>
							<td bgcolor="#82B4AB" class="txtNL-009" width="250">
							  <span class="txtNL-001">
								<strong>
									Archivo generado:
								</strong>
							  </span>
							</td>
							<td width="250" bgcolor="#C5DBD8" class="txtNL-009">
								$lote.archivo
							</td>
						  </tr>
						  <tr>
							<td height="2" colspan="2">
							</td>
						  </tr>
						</table>
					  #end
					</td>
				  </tr>
				</table>
			  </td>
		    </tr>
	      </table>
		</td>
	  </tr>
	</table>
    <br>
    <p>
	  &nbsp;
    </p>
  </body>
</html>