<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	version="1.0">
	<persistence-unit name="transfintPersistenceUnit" transaction-type="RESOURCE_LOCAL">
		<class>com.banorte.ods.sica.batch.transfint.domain.ScParametro</class>
		<class>com.banorte.ods.sica.batch.transfint.domain.ScReporteTransfint</class>
		<class>com.banorte.ods.sica.batch.transfint.domain.ScDetalleRepTransfint</class>
		<class>com.banorte.ods.sica.batch.transfint.domain.BupFechaInhabil</class>
		<class>com.banorte.ods.sica.batch.transfint.domain.TesDetalleLiquidacion</class>
		<class>com.banorte.ods.sica.batch.transfint.domain.TesLiquidacion</class>
	</persistence-unit>
</persistence>  