<html>	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	</head>
    <body>
	    <table width="100%" cellspacing="10" cellpadding="5">
	    	  <tr>
    			<td><img src="cid:headerBanorte"></td>
    		  </tr>
    		  <tr></tr>
    		  <tr></tr>
			  <tr>
    			<td align="left" valign="top">
					<pre style="font-family:'Times New Roman, Times, serif';font-size:14px">
						<font size="3" face="Courier New, Courier, mono">
Se adjunta reporte de operaciones de cambios (SICA) con monto mayor 
a 1 mill&oacute;n de d&oacute;lares americanos.

Este mensaje es generado de forma autom&aacute;tica, no responda este email.
</font></pre> 
	</td>
  </tr>
	    </table>
    </body>
</html>